
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#navbar{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #131431;
    color: white;

}
body{
  padding-top: 110px;
   background: #1c2045;
}   
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}
.logo-icon{
    width: 100px;
    height: 80px;
}
.logo-text{
    width: auto;
    height: 80px;
}
.nav-links{
    
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;
    color: white;
}
.nav-links a:visited {
    color: white;
}
.nav-links a:hover{
    opacity: 0.7;
}
.container {
    width: 90%;
    
    
    color: black;
    
  max-width: 800px;
  margin: 0 auto;

    
    
}
/*.create-post input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: 8px;
    
}
.create-post button{
    padding: 8px;
    cursor: pointer;
}*/
.create-post{
    text-align: left;
    margin-bottom: 50px;
}
.create-post h2{
  color: #f1f3ff;
}
.post-row {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    
}

/* .post-row input {
    padding: 8px;
    width: 400px;
    border-radius: 15px;
    background: #1c2045;
  border: 1px solid rgba(255,255,255,0.08);
  color: white;

} */
#postInput {
   width: 100%;
   
  min-height: 45px;
  resize: none; 
  padding: 12px 15px;
  border-radius: 20px;
  background: #1c2045;
  color: white;
  border: 1px solid rgba(255,255,255,0.08);
  font-family: inherit;
  overflow: hidden;
}




.post-row button {
    /* padding: 8px 15px;
    cursor: pointer;
    border-radius: 14px; */
    background: linear-gradient(135deg, #6f7bff, #8f6bff);
     color: white;
     border: none;
     padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
    
}
.post-row button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(111, 123, 255, 0.4);
}
.feed-title{
    color: #e6e9ff;
    margin-top: 20px;
    text-align: left;
     opacity: 0.7;
     font-weight: 600;
     letter-spacing: 0.5px;
}
#feed{
  
      margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    
}

.post-card{
    /* background: #131431; */
     /* background: #1f2556;  */
    padding: 15px;
    margin-top: 15px;
    border-radius: 14px;
    /* border: 1px solid rgba(255, 255, 255, 0.06); */
    /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35); */


      background: #242a63;   

     border: 1px solid rgba(255, 255, 255, 0.08);

     box-shadow: 
      0 12px 30px rgba(0, 0, 0, 0.45),
      0 0 0 1px rgba(255, 255, 255, 0.02) inset;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;

    padding-right: 50px;
    position: relative;
    z-index: 1;

}
.post-card:hover{
    transform: translateY(-4px);
   
     transition: 0.25s ease;
    box-shadow:
    0 20px 45px rgba(0, 0, 0, 0.5),
    0 0 40px rgba(130, 110, 255, 0.35);
}
.post-card.active {
    z-index: 50;
}
.delete-btn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 24px;
}
.post-content {
    display: flex;
    flex-direction: column;
}
.post-user{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
    color: red;
}
.timestamp {
    
    font-size: 12px;
    opacity: 0.7;
    margin-top: 5px;
}
.like-section {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.like-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 30px;
     color: white;              
    transition: color 0.3s ease, transform 0.2s ease;
}
.like-btn.liked {
    color: red;
}

.like-btn.animate {
     animation: pop 0.45s cubic-bezier(.34,1.56,.64,1);
}

@keyframes pop {
    0% { transform: scale(1); }
    40% { transform: scale(1.8); }
    70% { transform: scale(1.4); }
    100% { transform: scale(1.2); }
}
.like-btn:active {
    transform: scale(0.9);
}

.like-count {
    font-size: 20px;
}
.profile-icon{
    font-size: 30px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -300px;     
    width: 300px;
    height: 100vh;
    background: #151540;
    padding: 20px;
    box-shadow: -5px 0 20px rgba(0,0,0,0.4);
    transition: right 0.3s ease;
    z-index: 1000;
    color: white;
}

.sidebar.active {
    right: 0;          
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-item {
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar-item:hover {
    background: rgba(255,255,255,0.1);
}
.menu-btn{
    background: transparent;
    border: none;
    
    font-size: 20px;
    cursor: pointer;
     position: absolute;
    top: 12px;
    right: 15px;

    opacity: 0.1;

    /* width: 34px;
    height: 34px;
    border-radius: 50%; */

    /* background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px); */
    
    color: #e6e9ff;


    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, transform 0.2s ease;
  
}
.post-card:hover .menu-btn {
    opacity: 1;
}
.dropdown{
    position: absolute;
    background: black;
    color: white;
    padding: 8px 0;
    border-radius: 12px;
    /* display: none; */
    z-index: 1000;
    min-width: 160px;

    
    top: 40px;
    right: 15px;
    opacity: 0;
      pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}
.delete-optn{
    padding: 8px 15px;
    cursor: pointer;
}

.delete-optn:hover{
    background: red;
}

.edit-optn{
    padding: 8px 15px;
    cursor: pointer;
}

.edit-optn:hover{
    background: linear-gradient(135deg, #6f7bff, #8f6bff);
    
}

.show{
    /* display: block; */
      opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.comment-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 10px;
}
.comment-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white    ;
}
.comment-section.open {
    max-height: 500px;
}

.single-comment {
    padding: 6px 0;
    font-size: 14px;
    opacity: 0.9;
}

.comment-input {
    width: 100%;
    margin-top: 8px;
    padding: 6px;
    border-radius: 6px;
    border: none;
}

.reply-btn {
    margin-top: 6px;
}
@media (max-width: 600px) {

  .container {
    width: 95%;
  }

  #navbar {
    padding: 10px 15px;
  }

  .logo-icon {
    width: 60px;
    height: auto;
  }

  .logo-text {
    height: 40px;
  }
  .logo{
    gap: 5px;
  }

  .post-card {
    padding: 12px;
  }

  .like-btn {
    font-size: 24px;
  }

}
